<footer>
    <div class="container">
        <div class="row">
            <a href="https://www.linkedin.com/in/sofiane-sitayeb-734189187/" class="col-md-1 col-xs-1 "><i class="fab fa-linkedin-in fa-2x"></i></a>
            <a href="https://www.codewars.com/dashboard" class="col-md-1 col-xs-1"><i class="fab fa-pinterest fa-2x"></i></a> 
            <a href="https://twitter.com/home?lang=fr" class="col-md-1 col-xs-1"><i class="fab fa-twitter fa-2x"></i></a> 
            <a href="https://github.com/sitayebsofiane" class="col-md-1 col-xs-1"><i class="fab fa-github fa-2x"></i></i></a> 
            <a href="https://stackoverflow.com/users/10308852/sofiane-si-tayeb" class="col-md-1 col-xs-1"><i class="fab fa-stack-overflow fa-2x"></i></a> 
            <p style="color: white;"> &copy; Copyright {{ now }} &middot; dev python ALL rights reserved</p>
        </div>
        
    </div>
   
</footer>
{#<!-- end pied-->#}
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>