<style>
             body{
                position: relative;
                background-color: rgb(183, 202, 201);
                margin: auto;
                font-family: Verdana;
                min-height: 100vh;
            }
            .center{
                text-align: center;
                text-decoration: underline;
                color: rgb(30, 34, 33);
            }
            .cv{
            
                padding: 20px;
                margin-right: 5%;
                margin-left: 5%;
            }
            .motivation{
                font-size: 20px;
            }
            a:hover {
            
                /*cursor: crosshair;*/
                /*border: 1px solid rgb(255, 255, 255);*/
                color:red;
                
            }
            a:link
                {
                text-decoration:none;
                }
            .menu{
                display: flex;
            } 
            img{
                width: 70px;
                height: 70px;
            }
            footer{
                position: absolute;
                height: 40px;
                width:100%;
                left: 0px;
                bottom: 0px;
                background-color: black;
            }
            .all_posts{
                font-size:50px;
            }
</style>