<style>
             body{
                background-color: rgb(153, 152, 122);
                margin: auto;
                font-family: Verdana;
            }
            
            #left{
                min-height: 100vh;
            }
            .center{
                text-align: center;
                text-decoration: underline;
                color: rgb(30, 34, 33);
            }
            .cv{
            
                padding: 20px;
                margin-right: 5%;
                margin-left: 5%;
            }
            .motivation{
                font-size: 20px;
            }
            a:hover {
            
                /*cursor: crosshair;*/
                /*border: 1px solid rgb(255, 255, 255);*/
                color:red;
            }
            .menu{
                display: flex;
            } 
</style>