
{% extends 'layouts/default.html' %}
   
   {% block body %}
     
    <h1> Welcome  my portfolio</h1>
    <blockquote>
        Passionné par le developpement informatique 
        et la resolution des problemes de logique 
        et <a href="https://fr.wikipedia.org/wiki/Algorithme">d'alghorithme</a> depuis toujours, il m’a fallu attendre d’avoir trente-trois 
        ans pour enfin sauter le pas et aller au bout de mon rêve, ouvrir ma propre entreprise 
         l’âge du Christ 
         <ul >
        <li>plus sûrement que celui de la raison, on garde ça pour plus tard ! </li>
        <li>peut-être faut-il y voir un signe quand on jette son dévolu sur une bâtisse séculaire
            couvée du regard par la Cathédrale Notre-Dame…
        </li> 
       
        </ul>
        il n’y a d’autre ambition que celle de proposer une solution sincère et optimale, ancrée dans les saisons,
         authentique mais moderne, joyeuse et généreuse.
          nous la voulons au choix tester,
          participer, (c’est vous qui voyez) dans une ambiance décontractée, simple et bon enfant.
           Que vous ayez trente minutes ou deux heures, peu importe. Franchissez la porte  et nous mettons tout 
           en œuvre pour que ces trente minutes ou ces deux heures vous donnent envie de revenir
       .  <br>Le jeune devellopeur que je suis ne voit pas de plus belle récompense au travail sincèrement fait !
    </blockquote>
    
{% endblock %}