<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
       <link rel="stylesheet" href="style.css">
        <title>Lettre de motivation</title>
</head>
<body>
    <section class="cv">
    <h1 class ="coco">Lettre de motivation</h1>
    <p>Objet : Candidature au poste de Développeur web</p>

<p>(Madame, Monsieur),</p>
<p class="motivation">

Étant actuellement à la recherche d’un emploi, je me permets de vous proposer ma candidature au poste de Développeur web.


Ma formation en développeur logiciel m'a permis d'acquérir de nombreuses compétences parmi celles que vous recherchez. Je possède tous les atouts qui me permettront de réussir dans le rôle que vous voudrez bien me confier. Motivation, rigueur et écoute sont les maîtres mots de mon comportement professionnel.


Intégrer votre entreprise, représente pour moi un réel enjeu d’avenir dans lequel mon travail et mon honnêteté pourront s’exprimer pleinement.

Restant à votre disposition pour toute information complémentaire, je suis disponible pour vous rencontrer lors d’un entretien à votre convenance.

Veuillez agréer, (Madame, Monsieur), l’expression de mes sincères salutations.</p>

<span class="nom"> Si-tayeb Sofiane</span>
</section>
   
</body>
</html>