{% extends 'layouts/default.html' %}
{% block title %} services {% endblock title%}
{% block body %}
    <section class="container">
    <table class="table">
        <caption><h1>Mes services</h1></caption>
     
        <thead> <!-- En-tête du tableau -->
            <tr>
                <th>Service</th>
                <th>technologies</th>
                <th>outils</th>
            </tr>
        </thead>

     
        <tbody> <!-- Corps du tableau -->
            <tr>
                <td>sites vitrines</td>
                <td>html,css,javascript,php</td>
                <td>Wordpress</td>
            </tr>
            <tr>
                <td>applications</td>
                <td>java,python</td>
                <td>JFrame,tkinter,spring boot,flask</td>
            </tr>
            <tr>
                <td>Resaux</td>
                <td>model OSI,TCP/IP</td>
                <td>packet tracer</td>
            </tr>
            <tr>
                <td>Bases de donneés</td>
                <td>sql,pl/sql</td>
                <td>mySQL,postgesql</td>
            </tr>
            <tr>
                <td>Analyse de donnée</td>
                <td>python</td>
                <td>panda bibliothèque</td>
            </tr>
            <tr>
                <td>Gestion de projets</td>
                <td>UML,merise,pert...</td>
                <td>argoUML</td>
            </tr>
        </tbody>
     </table>
     </section>
{% endblock body %}