{% extends 'layouts/default.html' %}
{% block title %} services {% endblock title%}
{% block body %}
    <section class="container">
    <table class="table">
        <caption><h1>Mes services</h1></caption>
     
        <thead> <!-- En-tête du tableau -->
            <tr>
                <th>Services</th>
                <th>technologies</th>
                <th>outils</th>
            </tr>
        </thead>

     
        <tbody>
            {% for ele in liste %}
            {% if ele.name != None %}
            <tr>
                <td>{{ele.name}}</td>
                <td>{{ele.technologies}}</td>
                <td>{{ele.outils}}</td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
     </table>
     <p>
         <ul>
            <li>pour plus d'informations vous pouvez me laissez votre message par <a href="mailto:sitayebsofiane51@gmail.com">E-MAIL</a></li>
            <li>me contacter par telephone au <b><i>06.50.92.28.97</i></b></li>
         </ul>
    </p>
     </section>
{% endblock body %}